<?php

header('Content-Type: text/javascript; charset=utf8');

include_once('config.php');

use PHPMailer\PHPMailer\PHPMailer;
use PHPMailer\PHPMailer\Exception;
use PHPMailer\PHPMailer\SMTP;

require($_SERVER['DOCUMENT_ROOT'].'api/classes/PHPMailer/src/Exception.php');
require($_SERVER['DOCUMENT_ROOT'].'api/classes/PHPMailer/src/PHPMailer.php');
require($_SERVER['DOCUMENT_ROOT'].'api/classes/PHPMailer/src/SMTP.php');

$rest_json = file_get_contents("php://input");
$_POST = json_decode($rest_json, true);

$mail = new PHPMailer(true);

if( empty($_POST["name"]) && empty($_POST["email"])){
  echo json_encode(
      [
         "sent" => false,
         "message" => $SendMailEmptyerrorMessage
      ]
  );
  exit();
}

if ($_POST){
try {
    //Server settings
    $mail->isSMTP();
    $mail->Host       = 'smtphost.com.br';
    $mail->SMTPAuth   = true;
    $mail->Username   = 'smtp@dominio.com.br';
    $mail->Password   = 'emailpwd';
    $mail->SMTPSecure = PHPMailer::ENCRYPTION_SMTPS;
    $mail->Port       = 465;

    //Recipients
    $mail->setFrom('smtp@dominio.com.br', 'Não responder');
    $mail->addAddress('recipiente@dominio.com.br');

    //Content
    $mail->isHTML(true);
    $mail->Subject = 'Contato via Site - SimoneSerafim.com.br';
    $mail->Body    = 'Nome: '. $_POST["name"] . ' <br> Email: '. $_POST["email"] .' <br> Telefone: '. $_POST["tel"] .' <br> Mensagem: '. $_POST["message"] .'';

    $mail->send();
    http_response_code(200);
    echo json_encode(array("sent" => true));
  } catch (Exception $e) {
    echo json_encode(
      [
         "sent" => false,
         "message" => $SendMailFailederrorMessage
      ]
  );
}
}
